.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 3rem;
    margin-right: 1rem;
  }
  
  .navbar-right {
    flex-grow: 1;
  }
  
  .navbar-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  
  .navbar-item {
    padding: 0.5rem 1rem;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #ac6f46;
  }
  
  .navbar-login {
    margin-left: 2rem;
  }
  
  .login-button {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .login-link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .login-button:hover {
    background-color: #333333;
  }
  