/* ProductsView.css */
.products-view {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px);
}

.search--bar {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  position: relative;
}

.search--bar input[type="text"] {
  width: 600px; /* Adjust the width as needed */
  height: 40px;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  background-color: rgba(254, 251, 251, 0.878);
}

.search--bar input[type="text"]::placeholder {
  color: #888;
}

.search--bar input[type="text"]:focus {
  border-color: #555;
}


.search--icon {
  position: absolute;
  top: 50%;
  right: 480px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.products-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);  */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

